bower_components/
node_modules/
npm_cache/
.idea
.DS_Store
.temp/
.history/
*.log
.vscode
npm-debug.log
coverage/
dist
e2e/reports
e2e-new/reports/*
!e2e-new/reports/.gitkeep
mocks/static/hostedField.html
booking-components.iml
storybook/dist/
*~
.vs
